/* 默认样式重置 */
html,
body {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear:after {
  display: block;
  content: "";
  clear: both;
}
.dhidden {
  display: none;
}
.vhidden {
  visibility: hidden;
}
